<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/media/css/reset.css">
    <link rel="stylesheet" href="/media/css/styles.css">
    <link rel="stylesheet" href="/media/css/admin.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('../partials/navbar') %>

    <%- include('../partials/banner') %>

    <main>
    <%- include('../partials/adminnav') %>

    <%- include('../partials/flash') %>

    <%- body %>

    </main>
    <%- include('../partials/footer') %>

    <script src="/media/js/main.js"></script>
</body>
</html>