<% layout('layouts/boilerplate')%>



        <section id="mywork">
            <h2>Show Project</h2>
            
            <div class="panel">

                <div class="project-card">
                    <h3><%=project.title%></h3>
                    <div class="project-description"><%=project.description%></div>
                    
                    <% if( project.projectUrl !== "" ) { %>
                        <div class="project-url"><a href="<%=project.projectUrl%>">WWW</a></div>
                    <% } %>
                    
                    <% if( project.github !== "" ) { %>
                        <div class="project-url"><a href="<%=project.github%>">GitHub</a></div>
                    <% } %>
                    
                    <ul>
                        <% for( tech of project.projectTech) { %>
                            <li class="<%=tech%>"></li>
                        <% } %>
                    </ul>

                    <div class="buttons">
                        <a href="/projects/<%=project._id%>/edit" class="button">Edit</a>
                        <form action="/projects/<%=project._id%>?_method=DELETE" method="POST">
                            <button class="button delete">Delete</button>
                        </form>
                     </div>
                </div>
 
            </div>
        </section>



