<% layout('layouts/boilerplate')%>

<section id="mywork">
    <h2>Manage pages</h2>
    <p class="info">Pls note - page with page url: "home" is your home page. if you change/delete same, you need to set another page to home!</p>
    
    <div class="page-panel">
        <% for(let page of pages) { %>

        <div class="page-card">
            <h3>
                <%=page.title%> <span> / url: <%=page.url%></span></h3>
            <div class="page-description"><%=page.content.slice(0, 100)%>...</div>
                <div class="buttons">
                    <% if (page.isPublished ) { %>
                        <a href="/pages/<%=page._id%>/unpublish" class="button btn-all-good">Published</a>
                    <% } else { %>
                        <a href="/pages/<%=page._id%>/publish" class="button btn-alert">Draft</a>
                    <% } %>
                <a href="/pages/<%=page._id%>/edit" class="button">Edit</a>
                <form action="/pages/<%=page._id%>?_method=DELETE" method="POST">
                    <button class="button delete">Delete</button>
                </form>
            </div>
        </div>

        <% } %>
    </div>
</section>